<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>

      <link rel = "stylesheet" href="./static/css/home.css">
      <link rel="stylesheet" href="./static/css/aboutus.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anek+Odia:wght@300&family=Zen+Kurenaido&display=swap" rel="stylesheet">
</head>
<body>
<div id="NavBar">
    <a href="/">Home</a>
    <a href="/searchPage">Search</a>
    <a href = "/Allpictures">Pictures</a>
    <a href = "/aboutus">About Us</a>
    <a href = "/charity">Charity</a>
</div>
<div class="aboutusContainer">
    <br />
    <br />
    <div>
        <h1 class="aboutTitle">About us</h1>
        <div class="aboutUsContent">
            <img src="https://pic2.zhimg.com/80/v2-5cf9be06aa5c3117c62f79a1b3bbb395_720w.jpg" width="500" height="350" style="object-fit: contain;"/>
            <div class="aboutUsP"><p id="aboutUsPara">The purpose of this project is ......</p></div>
        </div>
        <div class="containerSection">
             <h1>Huibing Xie</h1>
         <div class="containerContent">
            <div class="containerBox" id="box1"><h2 class="boxTitle">Origin</h2></div>
             <div class="containerBox" id="box2"><h2 class="boxTitle">Present</h2></div>
             <div class="containerBox" id="box3"><h2 class="boxTitle">Future</h2></div>
        </div>
        </div>

    </div>
</div>

</body>
</html>