<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>

      <link rel = "stylesheet" href="./static/css/home.css">
      <link rel="stylesheet" href="./static/css/charity.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anek+Odia:wght@300&family=Zen+Kurenaido&display=swap" rel="stylesheet">
</head>
<body>
<div id="NavBar">
    <a href="/">Home</a>
    <a href="/searchPage">Search</a>
    <a href = "/Allpictures">Pictures</a>
    <a href = "/aboutus">About Us</a>
     <a href = "/charity">Charity</a>
</div>
<div class="aboutusContainer">
    <br />
    <br />
    <div>
        <h1 class="aboutTitle">Charity</h1>
        <div class="aboutUsContent">
            <img />

        </div>
        <div class="containerSection">

         <div class="containerContent">

        </div>
        </div>

    </div>
</div>

</body>
</html>