<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Digital Reference</title>
    <link rel="stylesheet" href="static/css/intro.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


<link href="https://fonts.googleapis.com/css2?family=Anek+Odia:wght@300&family=Square+Peg&family=Zen+Kurenaido&display=swap" rel="stylesheet">
</head>
<body>
<div class="NavContainer">
    <div id="NavBar">
    <a href="/">Home</a>
    <a href="/searchPage">Search</a>
    <a href = "/Allpictures">Pictures</a>
    <a href = "/aboutus">About Us</a>
        <a href = "/charity">Charity</a>
</div>
</div>

<br />
<br />

<div class="imageContainer">
    <h1 class="imageParagraph">Welcome</h1>
     <h2 class="secondTitle" id="digital">Digital Reference</h2>
    <h2 class="secondTitle" id="ai">Power by AI</h2>
</div>

<div >
    <div class="Icontainer">
         <div  >
        <h1 class="aboutTitle">Instruction</h1>

                <p class="aboutList" id="s1">1. Move the joints of the stick figure to the position you want</p>
                <p class="aboutList" id="s2">2. Click "search" button</p>
                 <p class="aboutList" id="s3">3. When the image shows up, click "→“ to see the second and third picture</p>
                 <p class="aboutList" id="s4">4. Right click the picture and choose open in a new tab to save the picture</p>
                 <p class="aboutList" id="s5">5. You got your reference picture!</p>

        </div>
    </div>

    <div class="startContainer">
        <div class="startLink">
        <a  href="/searchPage" class="startBtn">Start</a>
    </div>
    </div>


</div>
<script src="static/js/intro.js"></script>
</body>
</html>